
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}


.movies-container {
  padding: 50px 20px;
  text-align: center;
}


.page-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}


.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}


.movie-card {
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-card:hover {
  transform: scale(1.05);
}


.movie-image {
  height: 300px;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 10px;
}



.movie-info {
  padding: 20px;
}

.movie-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px 0;
}

.movie-description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
}


.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
